h1 {
    color:white;
}

.container {
    background-color:pink;
    max-width: 500px;
    text-align: center;
    border:15px;
    border-style: groove;
    border-color: darkviolet;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#chars {
    color: darkviolet;
}

.error {
    color:red;
    font-weight: bold;
    display: block;
}

.ok {
    color: green;
    display:block;
}

.emails {
    display:inline-block;
    
}

#charC {
    display: inline-block;
    color: black;
}

.oki {
    color: green;
    display: inline-block;
}

#textA {
    max-width:410px;
    min-width:410px;
    max-height:90px;
    min-height:90px;
}


#cont2 {
    display:none;
}

.errorMsg {
    color:red;
    font-size:25px;
}